# Yandex Tracker MCP Server - Environment Variables Example
# Copy this file to .env and fill in your values

# Transport mode (stdio, sse, streamable-http)
TRANSPORT=streamable-http

# Authentication (choose one)
TRACKER_TOKEN=

#grab u token here:
#https://oauth.yandex.ru/authorize?response_type=token&client_id=b1b1e81f9f384569bbfa348087d71991

# TRACKER_IAM_TOKEN=your-iam-token-here

# Organization (choose one)
TRACKER_ORG_ID=7026646
# TRACKER_CLOUD_ORG_ID=your-cloud-org-id
# Optional settings
# TRACKER_LIMIT_QUEUES=QUEUE1,QUEUE2
# TRACKER_READ_ONLY=true
# PORT=7777
# HOST=0.0.0.0
# uv sync && uv run yandex-tracker-mcp